<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete customer</title>
</head>
<body>
<h1>Delete customer</h1>
<h2>Are you sure?</h2>
<p>
    <a href="/movie/list">Movie list</a>
</p>
<form th:action="@{/movie/delete}" th:object="${movie}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Movie name:</td>
            <td th:text="${movie.name}"></td>
        </tr>
        <tr>
            <td>Actor:</td>
            <td th:text="${movie.actor}"></td>
        </tr>
        <tr>
            <td>Price:</td>
            <td th:text="${movie.price}"></td>
        </tr>
        <tr>
            <td>Release Time:</td>
            <td th:text="${movie.releaseTime}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Delete customer"></td>
        </tr>
    </table>
</form>
</body>
</html>